<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css”>
    <script src=”https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js”></script>
    <script src=”https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js”></script>
    <script src=”https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js”></script>



    <title>ТЕСТ МЕНЕДЖМЕНТ СИСТЕМА</title>
  </head>
  <body>
	<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">ГЛАВНАЯ</a></li>
        <li class="nav-item"><a href="/create/" class="nav-link">СОЗДАТЬ ТЕСТ-КЕЙС</a></li>
        <li class="nav-item"><a href="/results/" class="nav-link">РЕЗУЛЬТАТЫ</a></li>
        <li class="nav-item"><a href="/micro/" class="nav-link">МИКРОСЕРВИСЫ</a></li>
      </ul>
    </header>
  </div>
  <ul class="dropdown-menu">
  <li><h6 class="dropdown-header">Dropdown header</h6></li>
  <li><a class="dropdown-item" href="#">Action</a></li>
  <li><a class="dropdown-item" href="#">Another action</a></li>
</ul>
    </body>

{% block index %}

{% endblock %}

{% block results %}

{% endblock %}

{% block create %}

{% endblock %}

{% block complete %}

{% endblock %}