{% extends 'base.html' %}
{% block complete %}
<body>
<div class="alert alert-success d-flex align-items-center" role="alert" >

  <svg class="bi flex-shrink-0 me-2" width="10" height="10" role="img"><use xlink:href="#check-circle-fill"/></svg>
  <div>
     ТЕСТ-КЕЙС УСПЕШНО СОЗДАН
  </div>
</div>
</body>
{% endblock %}