{% extends 'base.html' %}
{% block create %}
<body>
<form method="post">
    {% csrf_token %}
  <div class="mb-3">
    <label>НАЗВАНИЕ ТЕСТ-КЕЙСА</label>
    <input type="text" class="form-control" aria-describedby="emailHelp" name="name">
  </div>
    <div class="form-floating">
        <label>ОПИСАНИЕ ТЕСТ-КЕЙСА</label>
      <textarea class="form-control" id="floatingTextarea2" name="dir"></textarea>
</div>
    <label>РЕЗУЛЬТАТ</label>
  <div class="mb-3 form-check ">
    <select class="form-select form-select-lg mb-3" style="width: 20%; height: 20%" aria-label=".form-select-lg example" name="res">
      <option value="PASSED">PASSED</option>
      <option value="FAILED">FAILED</option>
    </select>
  </div>
  <button  type="submit" class="btn btn-primary">СОХРАНИТЬ</button>
</form>
</body>
{% endblock %}