{% extends 'base.html' %}
{% block results %}
<body>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">ДАТА</th>
      <th scope="col">НАЗВАНИЕ</th>
      <th scope="col">ОПИСАНИЕ</th>
      <th scope="col">РЕСТ</th>
      <th scope="col">SQL</th>
      <th scope="col">ОЖИДАЕМЫЙ РЕЗУЛЬТАТ</th>
      <th scope="col">ФАКТИЧЕСКИЙ РЕЗУЛЬТАТ</th>
      <th scope="col">ПРИМЕЧАНИЕ</th>
      <th scope="col">ССЫЛКА JIRA</th>
    </tr>
  </thead>
  <tbody>
  {% for i in slider_list %}
    <tr>
      <th scope="row">{{ i.id }}</th>
      <td>{{ i.data }}</td>
      <td >{{ i.test_name }}</td>
      <td>{{ i.test_dir }}</td>
      <td>{{ i.test_rest }}</td>
      <td>{{ i.test_sql }}</td>
      <td>{{ i.test_expect }}</td>
      {% if i.test_result == 'PASSED' %}
      <td bgcolor="green">{{ i.test_result }}</td>
      {% else %}
      <td bgcolor="#b22222">{{ i.test_result }}</td>
      {% endif %}
      <td>{{ i.test_note }}</td>
      <td><a href="{{ i.jira }}" rel="stylesheet">{{ i.jira }}</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
</body>
{% endblock %}